<div class="full-page">
    <div class="trip-card d-flex justify-content-center">
      <h3>View the available options below!</h3>
    </div>

    <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-start-location-value="<%= @start_array.to_json %>" data-map-end-location-value="<%= @end_array.to_json %>">
      <div class="trip-overlay d-flex">
      </div>
      <div class = "map">
        <%= render "shared/map" %>
      </div>
    </div>

    <form action="/trips" method="post"
          data-controller="trip-create"
          data-trip-create-user-value="<%= user_signed_in? %>"
          data-action="submit->trip-create#create"
          data-trip-create-rides-value="<%= @rides %>"
          data-trip-create-link-value="<%= @rides.first.link_to_app %>"
          >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div data-controller="rides">
        <div class="ride-category">
          <h2>Choose your ride</h2>
          <% @rides.each_with_index do |ride, index| %>
            <%= render "ride_checkbox", ride: ride, index: index %>
          <% end %>
        </div>
      <div class="sticky-btn d-flex justify-content-center">
        <input type="submit" value="Book Now!" class="button-primary-large">
        <%#= link_to "Go back to searching", :back, class: "button-primary" %>
      </div>
      </div>
    </form>
</div>
