<div class="container">
  <div class="home-card d-flex justify-content-center">
    <h3>Hello! Where would you like to go to today?</h3>
  </div>
</div>

<div data-controller="select-location" data-action="address-autocomplete:passFocusedInput->select-location#setFocusedInput">
  <%= render "shared/trip_form"%>
  <div class="scrollable-wrapper">
    <ul class="scrollable-list">
      <% @locations.each do |location| %>
        <li class="saved-locations" data-action="click->select-location#updateInput" data-address="<%= location.address %>"><%= location.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-history my-1" id="history-card">
  <% current_user.end_locations.uniq.each do |location| %>
    <div class="card-product">
      <div class="title">
        <h2><%= location.address %></h1>
        <p><%= location.name %></p>
        <%= link_to "Save Location", edit_location_path(location) %>
        <hr>
      </div>
    </div>
  <% end %>
</div>
