<br>
<div data-controller="select-location" data-action="address-autocomplete:passFocusedInput->select-location#setFocusedInput">
  <%= render "shared/trip_form"%>
  <div class="scrollable-wrapper">
    <ul class="scrollable-list">
      <% @saved_locations.each do |location| %>
        <li class="saved-locations" data-action="click->select-location#updateInput" data-address="<%= location.address %>"><%= location.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-history my-3" id="history-card">
  <% @locations.each do |location| %>
    <div class="card-address">
      <div class="d-flex justify-content-between align-items-center">
        <i class="fa-solid fa-clock-rotate-left fa-xl" style="color: #858585"></i>
        <div class="trip-info">
          <% if location.name %>
            <p><strong><%= location.name %></strong></p>
          <% end %>
          <p><%= location.address %></p>
        </div>
        <% if location.name.nil? %>
          <% link_to  edit_location_path(location) do %>
            <i class="fa-solid fa-bookmark fa-xl" style="color: #FCA311;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
