<div class = "search-bars-box">
  <%= simple_form_for @trip, url: new_trip_path, method: "get", html: {class: "d-flex align-items-center", style: "width: 326px; margin-bottom: 12px;"} do |f| %>
    <div id="search-location"style="width: 248px; box-shadow: none;">
        <%= f.input :start_location,
          input_html: {
            data: {
              address_autocomplete_target: "location",
              select_location_target: "start"
            },
            class: "d-none",
          },
          placeholder: "Start location",
          label: false,
          wrapper_html: {
            class: "input-destination-location",
            id: "start-location-button",
            data: {
              controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
            }
          }
        %>
      <%= f.input :end_location,
          input_html: {
            data: {
              address_autocomplete_target: "location",
              select_location_target: "end"
            },
            class: "d-none"
          },
          label: false,
          wrapper_html: {
            class: "input-destination-location",
            id: "end-location-button",
            data: {
              controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
            }
          }
        %>
    </div>
    <div id="submit-button">
      <%= f.submit '', class: "submit-button" %>
      <%= image_tag "just-logo.png", alt: "Logo", class: "logo" %>
    </div>
  <% end %>
</div>
