<div class = "search-bars-box">
  <%= simple_form_for @trip, url: new_trip_path, method: "get", html: {class: "d-flex align-items-center", style: "width: 326px;"} do |f| %>
    <div>
      <div id="start-location-button"style="float:top; width: 240px;">
          <%= f.input :start_location,
            input_html: {
              data: {
                address_autocomplete_target: "location",
                select_location_target: "start"
              },
              class: "d-none",
            },
            placeholder: "Start location",
            label: false,
            wrapper_html: {
              data: {
                controller: "address-autocomplete",
                address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
              }
            }
          %>
      </div>
      <div style="float:bottom; width: 240px;">
        <%= f.input :end_location,
            input_html: {
              data: {
                address_autocomplete_target: "location",
                select_location_target: "end"
              },
              class: "d-none"
            },
            label: false,
            wrapper_html: {
              data: {
                controller: "address-autocomplete",
                address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
              }
            }
          %>
      </div>
    </div>
    <div id="submit-button">
      <%= f.submit '', class: "submit-button" %>
      <%= image_tag "just-logo.png", alt: "Logo", class: "logo" %>
    </div>
  <% end %>
</div>
